.blog-item{
    padding-right: 50px;
    margin-bottom: 80px;
    .img-side{
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            display: block;
            transition: .4s ease-in-out;
            &:hover{
                transform: scale(1.1);
                transition: .4s ease-in-out;
            }
        }
        span{
            position: absolute;
            bottom: 30px;
            padding: 5px 12px;
            background-color: #010101;
            z-index: 4;
            color: #fff;
            font-size: 15px;

        }
    }
    .desc{
        h4 {
            padding: 40px 0 10px 0;
            font-weight: 600;
            a{
                font-size: 26px;
                color: #333333;
                &:hover{
                    color: #e65540;
                    text-decoration:none;
                    transition:.3s ease-in-out;
                }
            }
           
        }
        span{
            font-size: 13px;
            color: #888888;
        }
        p{
            line-height: 1.7;
            color: #888888;
            padding-top: 25px ;
        }
        a{
            color:#555555;
            text-transform: capitalize;
            letter-spacing: .5px;
            i{
                margin-left: 7px;
            }
            &:hover{
                color: #e65540;
                text-decoration:none;
                transition:.2s ease-in-out;
            }
        }
    }
}