.cart-total{
    padding:30px 50px 70px 50px;

    @media (max-width:600px) {
        padding: 50px 0;
    }
    .content {
        float: right;
        width: 440px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 40px;
        .row{
            padding: 0 0 12px;
            margin-bottom: 12px;
            border-bottom: 1px dashed #c0bfbf;
        }
        div:nth-child(4){
            border: none;;
        }
        h5{
            color: #333333;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .col-4{
            padding: 0;
            span{
                font-size: 15px;
                color: #555555;
                font-weight: 600;
            }
        }
        .col-8{
            span{
                font-size: 18px;
                color: #888888;
            }
            p{
                font-size: 14px;
                color: #888888;
                line-height: 1.8;
            }
            label{
                font-size: 13px;
                color: #555555;
                letter-spacing: .6px;
            }
            .custom-select ,input{
                margin-bottom: 12px;
                color: #555555;
                font-size: 14px;
                height: 40px;
                line-height: 1.8;
                &:focus{
                    border-color: #ced4da;
                    box-shadow: none;
                }
            }
            .btn-primary{
                width: unset;
            }

        }
        .btn-primary
    {
        margin-top: 10px;
        background-color:#111111;
        border: none;
        color: #fff;
        border-radius: 23px;
        text-transform: uppercase;
        padding: 12px 40px;
        width: 100%;
        &:hover{
            border: none;
            background-color: #e65540;
            color: #fff;
            transition: .2s ease-in-out;

        }
        &:active{
            background-color:#e65540;
            box-shadow: none;

        }
        &:focus{
            box-shadow: none;
        }
    }
    .btn-primary:not(:disabled):not(.disabled):active{
        border: none;
        box-shadow: none;
        background-color: #e65540;
    }
    }
    .clear{
        clear: both;
    }
}